:root {
    --brand-01:#025E73; 
    /* --brand-01: #9f147b; */
    /* --brand-02: #462170; */
    --brand-01:#03658C;
    /* --brand-02: #0388A6; */
    --ui-01: #ffffff;
    --ui-02: #eeeeee;
    --ui-03: #cccccc;
    --ui-04: #888888;
    --ui-05: #666666;
    --text-01: #000000;
    --text-02: #545454;
    --brand-darkened: #810052;
    --brand-hover: #c4007c;
    --background-color-01: #eeeeee;
    --background-opacity-01: 1;


    --overlay-01: rgba(0, 33, 78, 0.5);
    --overlay-02: rgba(0, 107, 173, 0.6);
    --font-01: Rubik;
    --font-02: Rubik;


    --shadow-01: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    --shadow-02: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
    --shadow-03: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

    --tabBarHeight: 90px;
    --mobileTabBarHeight: 60px;
    --tabButtonPadding: 30px;
    --tabButtonIconPadding: 10px;
    --dropMenuWidth: 180px;
    --menuUnderlineHeight: 2px;
    --dropMenuLineHeight: 30px;
    --logoHeight: 60px;
    --logoLeft: 3%;
    --footerHeight: 64px;
    --folderHeight: 45px;

    --banner-img-path: 'https://qhomedesign-web.s3-ap-southeast-2.amazonaws.com/cdn_asset/';
}